* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to bottom right, #8e2de2, #4a00e0);
}

input {
  width: 100%;
  padding: 0.75rem;
  font-size: medium;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid grey;
}

h4 {
  padding: 0.75rem 0rem 0.75rem 0rem;
}

.form-container {
  width: 60%;
  height: 95%;
  min-height: 800px;
  margin: auto;
  padding: 2rem 3rem 1rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
}

.form-info-section {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.form-info-metadata {
  flex-grow: 2;
}

.form-info-metadata div p {
  color: grey;
  font-size: small;
  padding: 5px 0px 1rem 5px;
  color: #282c30;
}

.form-info-avatar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-info-avatar-logo {
  margin: auto;
  background-color: #8e2de2;
  border-radius: 50%;
}

.form-info-avatar button {
  margin: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: fit-content;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid green;
  box-shadow: 1px 1px #c0c0c0;
}

.form-info-avatar button:hover {
  background-color: green;
  color: white;
}

.form-name-container {
  display: flex;
  flex-direction: column;
}

.form-name-container div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.form-address-section {
  display: flex;
  flex-direction: column;
}

.form-address-section p {
  padding: 5px 0px 1rem 5px;
  color: #282c30;
  font-size: small;
}

.form-address-metadata {
  display: flex;
  flex-direction: row;
}

.form-address-metadata section {
  display: inherit;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.form-address-section1 {
  padding-right: 1.5rem;
}

.form-address-metadata section p {
  padding: 5px 0px 2px 5px;
  color: #282c30;
  font-size: small;
}

.form-address-metadata section select {
  width: 300px;
  display: flex;
  font-size: medium;
  justify-content: center;
  padding: 0.65rem;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 1px 1px #c0c0c0;
}

.form-submit-btn {
  width: 75%;
  align-self: center;
  color: black;
  border: 2px solid #4a00e0;
  background-color: white;
  border-radius: 12px;
  font-size: larger;
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.form-submit-btn:hover {
  background-image: linear-gradient(to bottom right, #8e2de2, #4a00e0);
  color: white;
}
