* {
  margin: 0;
  padding: 0
}

body {
  display: flex;
  background-color: black;
}

.nav-menu {
  height: 90vh;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  background-color: grey;
}

.nav-menu-items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 75vh;
  width: 100px;
}

.nav-item {
  display: inherit;
  justify-self: center;
  padding: 10px;
  margin: 10px;
  font-size: 40px;
}