@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.baselayout {
  display: flex;
  height: 100vh;
  gap: 2rem;
}

.sidebar-wrapper {
  position: relative;
}

.sidebar-wrapper-btn {
  position: absolute;
  right: 0;
  top: 5rem;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border: 1px solid #e5e7eb;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1rem;
}

.sidebar {
  width: 17rem;
  height: 100%;
  padding: 1rem;
  background-color: #3b3b3b;
  transition: all 0.3 linear;
}

.sidebar-top {
  width: min-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid;
}

.sidebar-logo {
  width: 3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar-top-title {
  margin-right: 3rem;
}

.sidebar-list {
  list-style: none;
}

.sidebar-link {
  display: inline-block;
  display: flex;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  padding: 0.8rem 1rem;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar-icon {
  font-size: 1.2rem;
  display: inline-block;
}

.sidebar-icon-title {
  margin-left: .5rem;
}

.pc-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.pc-wrapper li {
  display: flex;
  justify-content: start;
  list-style-type: none;
  width: 340px;
  height: 135px;
  border-radius: 1.5rem;
  overflow: hidden;
  border: 3px solid red;
  background-color: #222222;
}

.pc-container {
  width: inherit;
  display: flex;
  gap: 1rem;
}

.pc-profilepic {
  height: 100%;
  width: 125px;
  padding-right: 0.5rem;
  background-color: red;
}

.pc-info-wrapper {
  height: 100%;
  display: flex;
  gap: 3.5rem;
  flex-direction: column;
  justify-content: center;
}